/* Box Model */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*-----------------------------------*/
html {font-size:62.5%;}

/*media queries*/
@media all and (min-width: 320px) and (max-width: 425px) {
    html {font-size: 50%;}
}
@media all and (min-width: 426px) and (max-width: 768px) {
    html {font-size: 55%;}
}
@media all and (min-width: 769px) {
    html {font-size: 62.5%;}
}

body {
    /*background-color: #CEF6F5;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

/*mouth*/
.dropbox { 
    display: block;
    height: 30rem;
    width: 20rem;
    position: relative;
    margin: auto;

}

.preview {
    height: 20rem;
    margin: auto;
    margin-top: 2rem;
}

canvas {
    display: inline-block;
    z-index: 100;
    margin: 5px;
}